@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using WeiXinMvc.Models;
@model List<IndexModel>
<div>
    <div class="col-lg-12" style="padding:25px 22px 15px 22px">
        @foreach (var item in Model)
        {
            <img src="@item.MatchCover" style="margin-bottom:30px;width:100%;" />
            <br />
            <div>
                <label style="font-weight:bold;font-size:6vw;color:#333333">@item.MatchName</label>
            </div>
            <div style="margin:10px 0px">
                <label style="font-weight:400;font-size:3.5vw;color:#999999">@item.MatchDescription</label>
            </div>
            <div>
                <label style="font-weight:400;font-size:12px;color:#999999">@item.MatchTime.ToString("yyyy年M月dd日")</label>
            </div>
        }
        <div style="text-align:right;margin-top:70px">
            <button style="width:130px;height:44px;background-color:#f7c709;border:none;border-radius:50px;font-size:17px;color:white" id="enterBtn">
                进入相册<i class="iconfont">&#xe623;</i>
            </button>
        </div>
        <div style="height:52px"></div>
    </div>
</div>
<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script>
    try {
        wx.config({
                debug: true,
                appId: 'wx0ceb887ea81f6fed',
                timestamp: '@ViewBag.mtimestamp',
                nonceStr: '@ViewBag.mnonceStr',
                signature: '@ViewBag.msignature',
                jsApiList: [
                    'onMenuShareTimeline',
                    'onMenuShareAppMessage',
                    'onMenuShareWeibo',
                    'hideMenuItems',
                ]
        });
    } catch {
    }
    
        wx.ready(function () {
            //微信分享给朋友
            wx.onMenuShareAppMessage({
                title: 'iGets官方赛事相册', // 分享标题
                desc: '新一季高尔夫球赛结果公布', // 分享描述
                link: 'http://flowerxh.cn',   // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                imgUrl: 'http://igets.oss-cn-shenzhen.aliyuncs.com/igetsLogo.jpg', // 分享图标
                type: 'link',
                success: function () {
                    // 用户点击了分享后执行的回调函数
                }
            });
            //分享到朋友圈
            wx.onMenuShareTimeline({
                title: 'iGets官方赛事相册', // 分享标题
                link: 'http://flowerxh.cn', // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                imgUrl: 'http://igets.oss-cn-shenzhen.aliyuncs.com/igetsLogo.jpg', // 分享图标
                success: function () {
                    // 用户点击了分享后执行的回调函数
                },
            })
        })

        //配置失败
        wx.error(function (res) {
            // config信息验证失败会执行error函数，如签名过期导致验证失败，具体错误信息可以打开config的debug模式查看，也可以在返回的res参数中查看，对于SPA可以在这里更新签名。
            console.log("配置失败了");
            console.log(res);
    });
        
</script>

